@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Options
@using SimpleChat.Controllers
@using SimpleChat.Models
@using SimpleChat.Data

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@page "/users"

<div>
    @if (users is not null)
    {
        @foreach (var user in users)
        {
            <li>@user.UserName: @user.SentMessage</li>
        }
    }
</div>

@code {
    private List<User>? users;

    private readonly ChatController chatController = new ChatController(new ChatMessagesDBContext(new DbContextOptions<ChatMessagesDBContext>()));

    protected override async Task OnInitializedAsync()
    {
        users = await HttpClient.GetFromJsonAsync<List<User>>(NavigationManager.BaseUri + "api/user");
    }
}    using SimpleChat.Controllers;
