@using SimpleChat.Models

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@page "/users"

<div>
    @if (users is not null)
    {
        @foreach (var user in users)
        {
            <li>@user</li>
        }
    }
</div>

@code {
    private List<User>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await HttpClient.GetFromJsonAsync<List<User>>(NavigationManager.BaseUri + "api/users");
    }
}